services:
  homeassistant:
    image: homeassistant/home-assistant:latest
    container_name: homeassistant
    network_mode: host
    cap_add:
      - NET_ADMIN
      - NET_RAW
    volumes:
      - /opt/home-assistant:/config
      - /run/dbus:/run/dbus:ro
    environment:
      - TZ=Europe/Berlin
    restart: always
    logging:
      driver: json-file
      options:
        max-size: "10m"
        max-file: "3"

